@import '../../App.scss';

.flex-footer{
    display: flex;
    font-family: $primary-font;
    flex-direction: row wrap;
    background-color: $orange;
    justify-content: space-around;
    margin-top: 2em;
    align-items: center;
    color: $dark-blue;
}
