$dark-blue: #023c40;
$light-blue: #92BFB1;
$dark-purple: #48304D;
$light-purple: #FFE4FA;
$orange: #DE7C5A;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

$primary-font: 'Nanum Gothic', sans-serif;;
$secondary-font: 'Caveat', cursive;
$display-font: 'Caveat', cursive;




body{
    margin: 0 auto;
    background-color:$light-blue;
}